
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker Build & Push
        uses: docker/build-push-action@v6
        with:
          context: app/src
          file: app/src/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/static-web-page:${{ github.run_id }}

  updatek8s:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update tag in K8s deployment manifest
        run: |
          sed -i "s|^image: .*|image: ${{ secrets.DOCKER_USERNAME }}/static-web-page:${{ github.run_id }}|" app/src/deploy.yaml

      - name: Commit and push changes
        run: |
          git config --global user.email "thallapellypraveen55@gmail.com"
          git config --global user.name "Praveen Thallapally"
          git add app/src/deploy.yaml
          git commit -m "[CI]: Update product catalog image tag" || echo "No changes to commit"
          git push origin HEAD:main --force-with-lease

